<app-header></app-header>
<div class="col-md-12">
<nav class="navbar navbar-dark bg-inverse">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['home']">CONTACT LIST APP</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <!-- <li class="nav-item"><a class="nav-link" [routerLink]="['home']">Home</a></li> -->
            <li class="nav-item"><a class="nav-link" [routerLink]="['form']">Register</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['list']">Contacts</a></li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>

<hr>

</div>



